<!doctype html>
<html lang="en" ng-app="springBootAngularWarApp">
<head>
    <meta charset="utf-8">
    <title>Spring Boot Angular War App</title>
    <link rel="stylesheet" href="../css/app.css"/>
    <script src="../webjars/angularjs/1.4.1/angular.min.js"></script>
    <script src="../webjars/angularjs/1.4.1/angular-route.min.js"></script>
    <script src="../js/custom/app.js"></script>
    <script src="../js/custom/controllers.js"></script>
    <script src="../configdata.js"></script>
</head>
<body>
    <!-- BEGIN: Pre-Bootstrap Loading Screen. -->
    <div ng-if="false">
        <p>
            This will show until the application is bootstrapped.
            Then, the ngIf directive will immediately rip it out of
            the page.
        </p>
    </div>
    <!-- END: Pre-Bootstrap Loading Screen. -->
    <div id="angular-view-div" ng-if="true" ng-view autoscroll class="view-frame"></div>
</body>
</html>