spring:
  jdbc:
    template:
      query-timeout: 60 # 60 seconds
  transaction:
    default-timeout: 60 # 60 seconds
  flyway:
    baseline-on-migrate: true
  threads:
    virtual:
      enabled: true
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 0B
      max-file-size: 3GB # set it to -1 for no max file size limit per file in the request
      max-request-size: 5GB # set it to -1 for no max request size limit for entire request that can include multiple files

application:
  healthCheck:
    path: "/health-check"

app:
  uploads-dir: "/tmp"
  clean-up-reservation:
    batch-size: "${APP_CLEAN_UP_RESERVATION_BATCH_SIZE:10}"
    expiry-duration: "${APP_CLEAN_UP_RESERVATION_EXPIRY:PT-10M}"
  rest-client:
    connect-timeout-ms: "${APP_REST_CLIENT_CONNECT_TIMEOUT:3000}"
    read-timeout-ms: "${APP_REST_CLIENT_READ_TIMEOUT:15000}"
    retry:
      max-retry: 4
      delay: 100
      max-delay: 500
      multiplier: 1.1

async:
  task:
    executor:
      pool:
        size:
          core: 5
          max: 5
      queue:
        capacity: 500

springdoc:
  api-docs:
    path: "/api-docs"
    enabled: false
  swagger-ui:
    path: "/swagger-ui.html"

logging:
  level:
    web: INFO
    com:
      harishkannarao:
        jdbc: INFO
  pattern:
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %X{request_id:-no_request_id} %m %wEx %n'