<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}RestServiceAndConsumer.log}"/>

    <!-- reading a custom property value from the property file -->
    <springProperty scope="context" name="myappFileSize" source="logging.myapp.filesize"/>
    <springProperty scope="context" name="myappConsoleFilter" source="logging.myapp.console.appender.filter.level"/>
    <springProperty scope="context" name="myappFileHistory" source="logging.myapp.filehistory.days"/>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches the below -->
                <maxFileSize>${myappFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep days' worth of history -->
            <maxHistory>${myappFileHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- deny all events with a level below -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${myappConsoleFilter}</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>